
body{
	margin:0;
	padding:0;
	font-family:arial;
}

nav{
	float: right;
}

.btn-nav{
	border:2px solid green;
	background-color:white;
	color:green;
	border-radius:25px;
	padding:1% 5%;
	width:90px;
}

.btn-nav:hover{
	border:2px solid green;
	background-color:green;
	color:white;
	border-radius:25px;
	padding:1% 5%;
	width:90px;
	
}

.left{
	float: left;	
}

.left h1{
	line-height:30px;
}

.right{
	float: right;
}

.right a {
		margin-right:25px;
		text-decoration: none;
		line-height: 30px;
		color:black;
}

.right a:hover {
		padding:4px;
		margin-right:25px;
		text-decoration: none;
		line-height: 30px;
		color:white;
		background-color:black;
}

.clearfix:after{
	content: '';
	visibility:hidden;
	display:block;
	clear: both;
	height:0;
}

.header .left, .header .right{
	line-height: 80px;
	margin:0;
	padding-right: 12%;
	padding-left:12%;
}

.header nav a{
	font-weight:700;
}

.center{
	text-align:center;
	margin:auto;
}

.green{
	background-color:#4CA368;
	height:750px;
	width:100%;
	padding-top:100px;
}

.text{
	max-width: 770px;
    margin: 0 auto;
	margin-top:40px;
}

.text2{
	margin-top:40px;
	color: white;
}

.text3{
	font-size:50px;
}

.img{
	height:490px;
	margin-top:-37px;
}

.btngrp1{
	border-top-left-radius: 17px;
    padding: 8px;
        border-top: 3px solid #37804E;
		border-bottom: 4px solid #37804E;
		border-left: 3px solid #37804E;
    border-bottom-left-radius: 17px;
}

.btngrp2{
	margin: -5px;
	background-color: #37804E;
	height:38px;
    border-top-right-radius: 17px;
    padding: 8px;
    border: none;
    border-bottom-right-radius: 17px;
}

.imgbg{
	height: 660px;
	width: 100%
}

.gray{
	height:660px;
	width:100%;
	padding-top:100px; 
}

.textarea{
	height:260px;
	width:48%;
	border:2px solid #DAD5D5;
	margin-top:50px;
	margin-bottom:50px;
	padding-top:20px;
}

.img-icon{
	float:left;
	padding-left:20%;
	padding-top:3%
}

.gray-text1{
	float:left;
	text-align:left;
	color:#13B313;
	margin-top:8%;
}

.gray-text2{
	float:left;
	text-align:left;
	margin:1%;
}

.gray-btn{
	font-size:80%;
	padding:10%;
	border:3px solid green;
	border-radius:50%;
	background-color:white;
	color:green;
	margin:0 70px;
}

.gray-btn:hover{
	font-size:80%;
	padding:10%;
	border:3px solid green;
	border-radius:50%;
	background-color:green;
	color:white;
}

.inline{
	display:inline-block;
}

.div3{
	padding-top: 10px;
	width:100%;
	background-color:#F4F3F3;
	float:left;
	clear:both;
}

.div5{
	min-height:330px;
	padding-left:14%;
	padding-right:14%;
	
}

.within-div1{
	font-size:15px;
	width:30%;
	float:left;
	margin-left:8%;
	align:justify;
}


.within-div2{
	font-size:15px;
	width:10%;
	margin-left:8%;
	float:left;
}

.border{
	border-style: ridge;
	border-bottom: 1px #ff0000;
	margin-top:165px;
}

footer{
	padding-top:18%;
	padding:0 14%;
	padding-bottom:5%;
}

@media screen and (max-width:450px){
	
	.left{
		float:none;
		text-align:center;
		padding:0%;
		margin:0%;
	}
	
	.right{
		float:none;
		text-align:center;
	}
	
	.right a {
		margin: 1%;
		text-decoration: none;
		line-height: 30px;
		color: black;
	}
	
	.header .left, .header .right{
		padding-right: 12%;
		padding-left:12%;
	}
	
	.text, .text2{
		margin-left:10%;
		margin-right:10%;
	}
	
	.h-modify1{
		margin-left:10%;
		margin-right:10%;
		text-align:center;
	}
	
	.img{
	height:auto;
	width:100%;
	margin-top:-17px;
}

	.shapeoval{
		margin-left:10%;
		margin-right:10%;
		width:80%;
		height:auto;
	}
	
	.btngrp1{
		border-top-left-radius: 17px;
		padding: 8px;
        border-top: 3px solid #37804E;
		border-bottom: 4px solid #37804E;
		border-left: 3px solid #37804E;
		border-bottom-left-radius: 17px;
		width:50%
	}
	
	.btngrp2{
	margin: -5px;
	background-color: #37804E;
	height:38px;
	width:30%;
    border-top-right-radius: 17px;
    padding: 8px;
    border: none;
    border-bottom-right-radius: 17px;
	}
	
	.img-icon {
		float:none;
		padding:0%;
	}
	
	.textarea {
	padding-top:8%;
	padding-bottom:8%;
    height: auto;
    width: 90%;
	border: 2px solid #DAD5D5;
	}
	
	.gray-text1 {
		float:none;
		text-align:center;
		color: #13B313;
		margin-top: 0%;
	}
	
	.gray-text2 {
		float:none;
		text-align: center;
		padding-bottom: 7%;
		margin: 0%;
	}
	
	.gray {
		height: auto;
		width: 100%;
		padding: 0%;
	}
	
	.within-div1 {
		font-size: 15px;
		width: 80%;
		float: none;
		text-align: justify;
	}
	
	.within-div1 {
		font-size: 15px;
		width: 100%;
		float: none;
		margin:0%;
		text-align: justify;
}

	.within-div2 {
		font-size: 15px;
		width: 100%;
		margin: 0%;
		float: none;
	}
	
	.div5 {
		min-height: auto;
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.border {
		border-style: ridge;
		border-bottom: 1px #ff0000;
		margin-top: 0%;
	}

}